* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  background-color: black;
}

header:after {
  display: table;
  content: "";
  clear: both;
}

nav ul {
  display: inline-block;
}

nav ul li {
  display: inline-block;
  padding: 10px;
}

nav .float-right:after {
  display: table;
  content: "";
  clear: both;
}

