header {
    background-color: $primary_background ;
    &:after {
        @include clearfix;
    }
}
nav {
    ul {
        display: inline-block;
        // width: 50%;
        li {
            display: inline-block;
            padding: 10px;
        }

    }
    .float-right:after{
        @include clearfix ;
    }

}
