#jumbotron {
    padding: 20 20px;
    background-image: url('https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg');
    a {
        text-decoration: none;
        i {
            display: inline-block;
            font-size: 2em;
        }
        span {
            display: block;
        }
    }
}
.download-software {
    background-color: #666;
    &:hover {
        background-color: darken(#666, 10%);
        color: #fff ;
    }
}
#price-offer {
    position: relative;
    margin: $standard_spacing ;
    background: $primary_background ;
    span {
        display: block;
        padding: $standard_spacing / 2 ;
        font-size: $standard_font_size ;
    }
    img {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    button {
        margin: $standard_spacing / 2 ;
        padding: $standard_spacing / 2 ;
        background-color: $brand_color;
        border: 1px solid $brand_color ;
        color: #fff;
    }
    #limited-offer {
        background: white ;
        margin: $standard_spacing / 2 ;
    }
}
