@mixin flex-menu-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
@mixin clearfix {
    display: table;
    content: '';
    clear: both;
}
